* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ' Geneva, Verdana, sans-serif ';
}

body {
    background-color: #171b2b;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.stopWatch {
    padding: 1.4rem 3.2rem;
    border: 2px solid white;
    border-radius: 1rem;
    background-color: #000311;

}

.timerDisplay {
    font-size: xx-large;
    font-weight: 600;
    letter-spacing: 0.7rem;
}

.buttons {
    margin-top: 1.8rem;
}

.btn {
    padding: 12px 22px;
    font-size: 2rem;
    font-weight: 600;
    background: none;
    color: #ffffff;
    border: none;
    border-radius: 1rem;
    background-color: var(--clr);
    margin-inline: 0.6rem;
    cursor: pointer;
}